@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7vfq5g');
  src:  url('fonts/icomoon.eot?7vfq5g#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?7vfq5g') format('truetype'),
  url('fonts/icomoon.woff?7vfq5g') format('woff'),
  url('fonts/icomoon.svg?7vfq5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-autorizar:before {
  content: "\e95b";
}
.icon-reverso:before {
  content: "\e95c";
}
.icon-santand2:before {
  content: "\e95a";
}
.icon-santande:before {
  content: "\e959";
}
.icon-report-2:before {
  content: "\e940";
}
.icon-aceptar:before {
  content: "\e941";
}
.icon-benefic:before {
  content: "\e942";
}
.icon-borrar:before {
  content: "\e943";
}
.icon-buscar:before {
  content: "\e944";
}
.icon-canc-fact .path1:before {
  content: "\e945";
  color: rgb(1, 1, 1);
}
.icon-canc-fact .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-canc-fact .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-canc-fact .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-canc-fact .path5:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cancelar:before {
  content: "\e94a";
}
.icon-cargar:before {
  content: "\e94b";
}
.icon-catalog:before {
  content: "\e94c";
}
.icon-cerrar:before {
  content: "\e94d";
}
.icon-cerrar-2:before {
  content: "\e94e";
}
.icon-descuen:before {
  content: "\e94f";
}
.icon-editar:before {
  content: "\e950";
}
.icon-filiales:before {
  content: "\e951";
}
.icon-guardar:before {
  content: "\e952";
}
.icon-masiva:before {
  content: "\e953";
}
.icon-nuevo:before {
  content: "\e954";
}
.icon-pdf:before {
  content: "\e955";
}
.icon-xls:before {
  content: "\e956";
}
.icon-xml-c-add:before {
  content: "\e957";
}
.icon-xml-s-add:before {
  content: "\e958";
}
.icon-act-foli:before {
  content: "\e900";
}
.icon-addenda:before {
  content: "\e901";
}
.icon-adm-bran:before {
  content: "\e902";
}
.icon-alert-ce:before {
  content: "\e903";
}
.icon-alert-ra:before {
  content: "\e904";
}
.icon-area-res:before {
  content: "\e905";
}
.icon-cancelac:before {
  content: "\e906";
}
.icon-canc-com:before {
  content: "\e907";
}
.icon-cert-se:before {
  content: "\e908";
}
.icon-cfd:before {
  content: "\e909";
}
.icon-cfd-cv22:before {
  content: "\e90a";
}
.icon-cfd-dona:before {
  content: "\e90b";
}
.icon-cfd-emit:before {
  content: "\e90c";
}
.icon-cfd-e-div:before {
  content: "\e90d";
}
.icon-cfd-e-pal:before {
  content: "\e90e";
}
.icon-cfdi-c-33:before {
  content: "\e90f";
}
.icon-cfd-re-xm:before {
  content: "\e910";
}
.icon-cfd-reci:before {
  content: "\e911";
}
.icon-cliente:before {
  content: "\e912";
}
.icon-cod-iso:before {
  content: "\e913";
}
.icon-comp-pag:before {
  content: "\e914";
}
.icon-cons-fisc:before {
  content: "\e915";
}
.icon-con-es-cu:before {
  content: "\e916";
}
.icon-cons-rep:before {
  content: "\e917";
}
.icon-corr-pef:before {
  content: "\e918";
}
.icon-cv-divis:before {
  content: "\e919";
}
.icon-ecb-hist:before {
  content: "\e91a";
}
.icon-ent-fisc:before {
  content: "\e91b";
}
.icon-estado:before {
  content: "\e91c";
}
.icon-est-cuen:before {
  content: "\e91d";
}
.icon-factura:before {
  content: "\e91e";
}
.icon-facturac:before {
  content: "\e91f";
}
.icon-fact-man:before {
  content: "\e920";
}
.icon-fact-mas:before {
  content: "\e921";
}
.icon-fac-ma-di:before {
  content: "\e922";
}
.icon-fac-ma-do:before {
  content: "\e923";
}
.icon-fac-ma-pa:before {
  content: "\e924";
}
.icon-fac-ma-qu:before {
  content: "\e925";
}
.icon-iva:before {
  content: "\e926";
}
.icon-logo:before {
  content: "\e927";
}
.icon-menu:before {
  content: "\e928";
}
.icon-me-pa-ecb:before {
  content: "\e929";
}
.icon-moneda:before {
  content: "\e92a";
}
.icon-not-cred:before {
  content: "\e92b";
}
.icon-pagina:before {
  content: "\e92c";
}
.icon-pais:before {
  content: "\e92d";
}
.icon-permisos:before {
  content: "\e92e";
}
.icon-proveedo:before {
  content: "\e92f";
}
.icon-ran-foli:before {
  content: "\e930";
}
.icon-rec-masi:before {
  content: "\e931";
}
.icon-rec-dona:before {
  content: "\e932";
}
.icon-reg-fisc:before {
  content: "\e933";
}
.icon-reporte:before {
  content: "\e934";
}
.icon-rep-fact:before {
  content: "\e935";
}
.icon-rep-fa-di:before {
  content: "\e936";
}
.icon-rep-mens:before {
  content: "\e937";
}
.icon-res-inci:before {
  content: "\e938";
}
.icon-rol:before {
  content: "\e939";
}
.icon-serie:before {
  content: "\e93a";
}
.icon-sol-c-fac:before {
  content: "\e93b";
}
.icon-sucursal:before {
  content: "\e93c";
}
.icon-tip-com-p:before {
  content: "\e93d";
}
.icon-tip-rep-b:before {
  content: "\e93e";
}
.icon-usuario:before {
  content: "\e93f";
}
